/* CSS FOLDER FOR MAIN*/

main {
    display: flex;
    flex-direction: column;

}

main .grey-align {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-top: 5vh;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 3vh;
}

main .white-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 5vh 0;
}

main .align-left {
    text-align: center;
}

main .align-goodcompany {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-button {
    background-color: white;
    border-color:  #192592;
    color:  #192592;
    font-size: 1rem;
    border-radius: 6px;
    width: 100%;
    height: 9vh;
    font-weight: bold;
}

main p {
    text-align: center;
}

.margin-5vw {
    margin-left: 5vw;
    margin-right: 5vw;
}

.main-hr {
    width: 100%;
}

@media(min-width: 767px) {
    main .align-left {
        width: 60%;
        text-align: left;
    }

    main .align-left p {
        text-align: left;
    }

    main .purp-button {
        width: 47%;
        height: 8vh;
    }
}

@media(min-width: 767px) and (max-width: 1024px) {

    main .email-button {
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-direction: row;
        width: 70%;
        margin: 0 8vw 0 0
    }

    main input {
        width: 47%;
        height: 8vh;
        margin: 0 0.5vw 0 0;
    }

    main .white-align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        text-align: center;  
        padding-left: 5vw;
        padding-right: 5vw;
        margin: 5vh 0;
        width: 100%;
    } 

    main > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .white-button {
        background-color: white;
        border-color:  #192592;
        color:  #192592;
        font-size: 0.9rem;
        border-radius: 6px;
        width: 40%;
        height: 8vh;
    }

    main .align-goodcompany {
        display: flex;
        justify-content: center;
    }

    main .background-grey {
        padding-bottom: 5vh;
    }

}


@media(min-width: 1025px) {
    main .white-align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        text-align: center;  
        padding-left: 5vw;
        padding-right: 5vw;
        margin: 5vh 0;
    }

    main .grey-align {
        padding-bottom: 5vh;
    }

    main .email-button{
        width: 20%;
        flex-direction: row;
        justify-content: space-between;
    }

    main .purp-button{
        width: 100%;
        height: 9vh;
    }

    main input {
        display: none;
    }

    main .white-button {
        width: 25%;
    }
}

